@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
#cont {
  width: 99vw;
  height: 100vh;
  background-color: #020f2a;
}

.mainDiv {
  position: relative;
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: white;
}

.heading {
  margin-top: 25px;
  text-align: center;
  background-color: #020f2a;
  color: white;
}

.boxes {
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  row-gap: 50px;
  justify-content: center;
  align-content: center;
}

.groupNames {
  border: 1px solid white;
  width: 250px;
  height: 250px;
  color: white;
  text-align: center;
  background-color: #020f2a;
  border-radius: 10px;
  font-size: 2rem;
  align-content: center;
  &:hover {
    cursor: pointer;
  }
}

.modalParent {
  width: 100%;
  height: 100%;
  background-color: white;
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.modal {
  width: 84%;
  height: 500px;
  background-color: white;
  position: absolute;
  color: black;
  z-index: 1;
  opacity: 1;
  top: 12%;
  left: 7%;
  display: none;
  flex-direction: column;
  align-items: center;
}
.btnParent {
  width: 100%;
  display: flex;
  justify-content: right;
  background-color: white;
}

.closeBtn {
  width: 50px;
  height: 40px;
  background-color: red;
  color: white;
  &:hover {
    cursor: pointer;
  }
}
.table {
  border: 1px solid transparent;
  width: 90%;
  height: 100%;
  text-align: center;
  background-color: white;
  color: #020f2a;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .boxes {
    grid-template-columns: 1fr;
  }
  .groupNames {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .boxes {
    grid-template-columns: 1fr 1fr;
  }
  .groupNames {
    margin: 0 auto;
  }
}
